body {
  text-align: center;
  margin: 1.5rem 0.8rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  
}

#title {
  margin-bottom: 0;
  text-decoration: underline;
}

header > p {
  margin-top: 0;
}

#img-div {
  padding: 1rem;
  border-radius: 0.2rem;
  max-width: 1050px;
  width: 50%;
  margin: 0 auto;

}

#image {
  max-width: 100%;
  height: auto;
  text-align: center;
  display: block;
  margin: 1rem auto;
}

#tribute-info>h2 {
  text-decoration: underline;
}


.highlight {
  margin: 0 auto;
  width: 60%;
  list-style: none;
  text-align: left;
}


.highlight-title {
  font-weight: bold;
  margin-right: 0.4rem;
  color: #001f3f;

}

li {
  margin-bottom: 1rem;
}



/* Gallery */

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  max-width: 1000px;
  margin: 2.5rem auto;
}

.gallery>img {
  width: 100%;
  max-width: 350px;
  height: 350px;
  border-radius: 0.4rem;
  object-fit: cover;
}

#tribute-link {
  color: #007bff;
  text-decoration: none;
  transition: color 1s ease; 
}

#tribute-link:visited {
  color: #0056b3;
}

#tribute-link:hover {
  color: #339af0;
}

#tribute-link:active {
  color: #0056b3;
}




/* Background Colors */

.primary-background {
  background-color: #001f3f;
}

.secondary-background {
  background-color: #f0f0f0;
}

/* Font Colors */

.first-header-text-color {
  color: #001f3f;
}

.second-header-text-color {
  color: #FFD700;
}

.standard-text-color {
  color: #333333;
}

/* Font Style */

.header-text-style {
  font-family: 'Oswald', sans-serif;
}

.standard-text-style {
  font-family: 'Lato', sans-serif;
}

/* styles */

.bold {
  font-weight: bold;
}